{{#if user}}


<h1>{{this._name}}</h1>

<h3>Member for: </h3>
   

<p>form for discussion/comments?</p>
<form action="/" method="POST" style="margin-top: 20px;">
    <label>New Session Name: </label>
    <input type="text" name="name" placeholder="Enter name">
    <label>Number of Blocks </label>
    <input type="text" name="sessionsLeft" placeholder="Enter number of sessions">

    <button type="submit" id="add-session-button"> Create Session</button>
</form>
        


       



{{else}}
    <div class="error"> There was an error logging in. Please try logging in again. </div>
{{/if}}