<h2>Lets get you LockedIn!</h2>
{{#if message}}
<div class="error">{{ message }}</div>
{{/if}}
<form method="POST" action="register">
	<div>
		<label for="username">Username:</label>
		<input type="text" name="username" value="" id="username">
	</div>
	<div>
		<label for="password">Password:</label> 
		<input type="password" name="password" value="" id="password">
	</div>
	<div>
		<input type="submit" value="Register" id="registerButton">
	</div>
</form>